<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Load base styles first -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Load template-specific styles after -->
    {% block styles %}{% endblock %}
    <!-- Load Showdown.js for markdown conversion -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.2.12/marked.min.js"></script>
    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.0.3/showdown.min.js"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='tooltip.css') }}">
</head>
<body>
    <!-- Header Container -->
    <div class="header-container">
        <span>INTEND 5G4Data Tutorial</span>
        <div class="logos">
            <img src="{{ url_for('static', filename='telenor_logo.png') }}" alt="Telenor Logo">
            <div class="logo-black-bg">
                <img src="{{ url_for('static', filename='intend_logo.gif') }}" alt="INTEND Project Logo">
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}
</body>
</html> 