<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Load base styles first -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Load template-specific styles after -->
    {% block styles %}{% endblock %}
    <!-- Load Showdown.js for markdown conversion -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.2.12/marked.min.js"></script>
    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.0.3/showdown.min.js"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooltip.css') }}">
</head>
<body>
    <!-- Header Container -->
    <div class="header-container">
        <div class="header-content">
            <span>INTEND 5G4Data Tutorial</span>
            <div class="logos">
                <img src="{{ url_for('static', filename='images/telenor_logo.png') }}" alt="Telenor Logo">
                <div class="logo-black-bg">
                    <img src="{{ url_for('static', filename='images/intend_logo.gif') }}" alt="INTEND Project Logo">
                </div>
            </div>
        </div>
    </div>

    <div class="page-container">
        <!-- Table of Contents Sidebar -->
        <div class="sidebar">
            <h2>Table of Contents</h2>
            <ul>
                <li><a href="{{ url_for('index') }}" {% if request.endpoint == 'index' %}class="active"{% endif %}>Introduction</a></li>
                <li><a href="{{ url_for('use_case') }}" {% if request.endpoint == 'use_case' %}class="active"{% endif %}>5G4Data use case</a></li>
                <li><a href="{{ url_for('infrastructure_description') }}" {% if request.endpoint == 'infrastructure_description' %}class="active"{% endif %}>Infrastructure</a></li>
                <li><a href="{{ url_for('mvs') }}" {% if request.endpoint == 'mvs' %}class="active"{% endif %}>Minimal Viable Scenario</a></li>
                <li><a href="{{ url_for('intent_specification') }}" {% if request.endpoint == 'intent_specification' %}class="active"{% endif %}>Intent specification</a></li>
                <li><a href="{{ url_for('create_intent_step') }}" {% if request.endpoint == 'create_intent_step' %}class="active"{% endif %}>Intent creation</a></li>
                <li><a href="{{ url_for('send_intent_step') }}" {% if request.endpoint == 'send_intent_step' %}class="active"{% endif %}>Intent communication</a></li>
                <li><a href="{{ url_for('summary') }}" {% if request.endpoint == 'summary' %}class="active"{% endif %}>Summary</a></li>
                <li><a href="{{ url_for('beyond_mvs') }}" {% if request.endpoint == 'beyond_mvs' %}class="active"{% endif %}>Beyond MVS</a></li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <div class="container">
                <div class="info-container" style="max-width: 770px;">
                    {% block content %}{% endblock %}
                </div>
            </div>

        </div>
    </div>
</body>
</html> 