{% extends "base.html" %}

{% block title %}Beyond MVS{% endblock %}

{% block content %}
    <h1>Beyond 5G4Data Minimal Viable Scenario</h1>
    <h3 style="text-align: left;">From open to closed control loops and handling state of intents</h3>
    <p>
        The first MVS will use an open control loop (meaning fire and forget intents). The next version will use closed control loops (for all intent owners and intent handlers). This means that reports from an intent handler will be sent to the report owner as specified in ReportingExpectations in the issued Intent. Intent reports can be of different types. We will introduce state for intents and one report type will be state change reports, including if the intent is complying or degrading. States for creation (received, accepted) and deletion (removed) will also be part of state changes reports. Another type of report is related to reporting of metrics (for intents that states expectations with specific requirements for target property values).

        We will also start to investigate how the intent owners should act if reports indicate that an intent is degraded (not performing as it should).
    </p>
    <div class="img-container float-left" style="float: right; margin-left: 20px; margin-top: 0; margin-bottom: 0; position: relative; top: 0; width: 250px; height: 518px;">
        <img src="{{ url_for('static', filename='images/beyond_mvs.png') }}" alt="Beyond MVS Overview" style="width: 100%; height: 100%; object-fit: fill;">
    </div>
    <h3 style="text-align: left;">Discovery mechanism allowing intent owner finding appropriate handler</h3>
    <p>
        Across use cases, intents will have very different semantics. Note that it will still be possible to express many different types of intents using the TM Forum Intent ontology since the ontology only defines the syntax. With potentially large span in intent semantics it is probably difficult to create one singe intent handler. This implies that handlers will only be able to handle intents within its scope (domain). This brings up the question: How can an intent owner find an intent handler that is capable of handling the semantics in my intent(s)? We will look into if some sort of discovery mechanism could be used, and that intent owners register their capabilities in a intent manager registry. Intent owners can then use this registry to discover handlers capable of handling their type of intent(s).
    </p>
    <h3 style="text-align: left;">Intent provenance</h3>
    <p>
        We will also look into how intent provenance can be used to trace the origin of an intent by introducing new statements in the intent ontology. We will consider to add state changes of the intent, intent owner/handler relationships and which customer the intent is related to as part of the provenence statements. The provenance could be part of the explainability of an intent and its evolution over time and may be visualized in a UI/Dashboard.
    </p>

    <img src="{{ url_for('static', filename='images/closed-loop.png') }}" alt="Closed Loop Diagram" style="max-width: 100%; height: auto; margin: 1.5em 0;">

    <!-- Home and Next buttons -->
    <div class="button-container">
        <a href="{{ url_for('index') }}" class="home-button">Back to Home</a>
    </div>
{% endblock %}
