{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="content-wrapper">
        <h1 class="text-left">INTEND - Intent-Based Data Operation in the Computing Continuum</h1>
        
        <div class="text-content">
            <div class="img-container float-left">
                <img src="{{ url_for('static', filename='intend_overall_story.jpg') }}" alt="INTEND Overall Story">
            </div>
            
            <p class="text-left">The INTEND project <a href="https://intendproject.eu/" target="_blank">[https://intendproject.eu/]</a> explores how intent-based management can transform operations across the computing continuum—from cloud to edge—by leveraging agents powered by generative AI and domain knowledge. These intelligent agents aim to autonomously manage resources and applications in alignment with human stakeholder intentions, interpreting high-level goals rather than requiring low-level directives.</p>
            
            
            <div class="img-container float-left">
                <img src="{{ url_for('static', filename='intend_infrastructure.jpg') }}" alt="INTEND Infrastructure">
            </div>
            
            <p class="text-left">Our use case within INTEND is called 5G4Data—short for customer-oriented 5G data infrastructure. It investigates how to make advanced network and compute features available to customers in a simplified, accessible way. We are aligning with ongoing work in the telecom community, such as the TM Forum's efforts around Autonomous Networks. Specifically, we are using the intent ontology they've developed as a foundation for expressing and interpreting customer intents. This formal, standardized approach is crucial to building scalable, interoperable solutions.</p>
            
            <p class="text-left">Although our INTEND use case has a defined scope, it supports a broader vision: intent-driven, autonomous network operations. As networks become more complex and customer expectations continue to rise, this shift will be critical. The INTEND project is an important step in Telenor's journey toward meeting those challenges and preparing for the next generation of communication services.</p>
        </div>

        <div class="next-step-container">
            <a href="{{ url_for('infrastructure_description') }}" class="next-step-button">Next Step</a>
        </div>
    </div>
</div>
{% endblock %} 