{% extends "base.html" %}

{% block title %}MVS Overview{% endblock %}

{% block content %}
<div class="container">
    <div class="content-wrapper">
        <h1 class="text-left">MVS Overview</h1>
    
        <div class="text-content">
            <p>
                The first 5G4Data MVS will focus on getting the continuum up and running and will use an open-loop control schema that will be an intrinsic part of every tool involved. If, or when, we have this first version of the MVS up and running we will start exploring a closed-loop approach for lifecycle management of intents taking feedback into account and possibly dynamically change intents if/when they are no longer fulfilled by the underlying infrastructure. Such dynamic changes of intents will possibly be done with the user in the loop.
            </p>
    
            <div class="img-container" style="width: 100%; max-width: 750px; margin: 10px auto;">
                <img src="{{ url_for('static', filename='images/MVS.png') }}" alt="MVS Overview" style="width: 100%; height: auto;">
            </div>
            
        </div>

        <div style="margin-top: 10px; width: 100%; max-width: 750px;">
            <div style="display: flex; gap: 10px; margin-top: 1em; justify-content: flex-start;">
                <a href="{{ url_for('intent_specification') }}" class="next-step-button">Next Step</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 