charts/
charts.old/
# Extracted chart icons and manifest (runtime; created by the web app)
public/chart-icons/
test/
workloads/*
# Exception: include ai-server workload
!workloads/ai-server/
# Exception: include avalance-object-detection workload
!workloads/avalance-object-detection/
# Python virtual environments
venv/
.venv/
env/
workloads/ai-server/venv/
workloads/ai-server/open-webui/
workloads/ai-server/rusty_llm/