apiVersion: v1
entries:
  rusty-llm:
  - apiVersion: v2
    appVersion: 0.6.0
    created: "2025-12-07T18:55:41.826775046Z"
    description: A Helm chart for rusty_llm AI inference service with the Phi-3.5-mini-instruct-Q4_K_S model.
    digest: 90c5627779d7018f3b2866fc2c1bafa30b6f25aec8c5e395ebfabd364599db6b
    icon: http://start5g-1.cs.uit.no:3040/images/rusty-llm-icon.svg
    name: rusty-llm
    type: application
    urls:
    - charts/rusty-llm-0.1.12.tgz
    version: 0.1.12
generated: "2025-12-08T19:58:28Z"
serverInfo: {}
